<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>A Brief History of The Displays.md</key>
			<dict>
				<key>lastModification</key>
				<real>491231456.85255301</real>
				<key>version</key>
				<dict>
					<key>8ec31f167303f64d4ad0146e05a26c051d6aced45622c4158cfb767ac7f2a146</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>A Brief Introduction to Molecular Dynamics.md</key>
			<dict>
				<key>lastModification</key>
				<real>491231490.62054098</real>
				<key>version</key>
				<dict>
					<key>8ec31f167303f64d4ad0146e05a26c051d6aced45622c4158cfb767ac7f2a146</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>A Hitchhiker’s Guide to the Smartband.md</key>
			<dict>
				<key>lastModification</key>
				<real>491231456.85255599</real>
				<key>version</key>
				<dict>
					<key>8ec31f167303f64d4ad0146e05a26c051d6aced45622c4158cfb767ac7f2a146</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Comparing Solar Power with Biomass energy.md</key>
			<dict>
				<key>lastModification</key>
				<real>491231456.85255599</real>
				<key>version</key>
				<dict>
					<key>8ec31f167303f64d4ad0146e05a26c051d6aced45622c4158cfb767ac7f2a146</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Infrared Spectrometry in water vapor.md</key>
			<dict>
				<key>lastModification</key>
				<real>491231456.85255498</real>
				<key>version</key>
				<dict>
					<key>8ec31f167303f64d4ad0146e05a26c051d6aced45622c4158cfb767ac7f2a146</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Nuclear Power is the Future.md</key>
			<dict>
				<key>lastModification</key>
				<real>491231456.85255498</real>
				<key>version</key>
				<dict>
					<key>8ec31f167303f64d4ad0146e05a26c051d6aced45622c4158cfb767ac7f2a146</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Readme.md</key>
			<dict>
				<key>lastModification</key>
				<real>491231456.85255402</real>
				<key>version</key>
				<dict>
					<key>8ec31f167303f64d4ad0146e05a26c051d6aced45622c4158cfb767ac7f2a146</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The Ineffectiveness of the Death Penalty.md</key>
			<dict>
				<key>lastModification</key>
				<real>491231990.62120599</real>
				<key>version</key>
				<dict>
					<key>8ec31f167303f64d4ad0146e05a26c051d6aced45622c4158cfb767ac7f2a146</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>The Ineffectiveness of the Death Penalty.md</string>
		</array>
		<array>
			<string>A Brief History of The Displays.md</string>
		</array>
		<array>
			<string>A Brief Introduction to Molecular Dynamics.md</string>
		</array>
		<array>
			<string>Readme.md</string>
		</array>
		<array>
			<string>Nuclear Power is the Future.md</string>
		</array>
		<array>
			<string>Infrared Spectrometry in water vapor.md</string>
		</array>
		<array>
			<string>Comparing Solar Power with Biomass energy.md</string>
		</array>
		<array>
			<string>A Hitchhiker’s Guide to the Smartband.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>8ec31f167303f64d4ad0146e05a26c051d6aced45622c4158cfb767ac7f2a146</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>
