/* from http://jgthms.com/web-design-in-4-minutes/ */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #566b78;
  line-height: 1.5;
}

header {
  background-color: #263d36;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
  display: none;
}

header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
  border-radius: 60px;
}

header h1 {
  font-size: 2.5em;
  font-weight: 300;
  color: white;
}

header h2 {
  font-size: 1em;
  font-weight: 300;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  color: white;
}

header a:hover {
  background:  #e81c4f;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 50em;
  padding: 4em 1em;
}