
#list {
  padding: 0;
}

.entry {
  list-style: none;
}

.file:hover {
  background: #ddd;
}

.file > a , .folder{
  text-decoration: none;
  color: #111;
  font-size: 18px;
  line-height: 36px;
  box-sizing: border-box;
  display: block;
}

.folder {
    color: #fff;
    background: #e44;
    width:100%;
    display: inline;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
}

footer {
  margin-top: 70px;
  border-top: #eee 1px solid;
  height: 100px;
  color: #ccc;
  line-height: 100px;
  text-align: center;
  text-shadow: 0 1px 0 #fff; 
  display: box;
  width: 100%;
}